# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64
# created-by: conda 24.11.3
@EXPLICIT
https://conda.anaconda.org/conda-forge/osx-arm64/aws-c-common-0.8.5-h1a8c8d9_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-arm64/blas-1.0-openblas.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/bzip2-1.0.8-h80987f9_6.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/c-ares-1.19.1-h80987f9_0.conda
https://conda.anaconda.org/conda-forge/noarch/ca-certificates-2025.6.15-hbd8a1cb_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/dav1d-1.2.1-h80987f9_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/giflib-5.2.2-h80987f9_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/jpeg-9e-h80987f9_3.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/json-c-0.16-h1a28f6b_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/jxrlib-1.1-h1a28f6b_2.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libbrotlicommon-1.0.9-h80987f9_8.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libcxx-14.0.6-h848a8c0_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libdeflate-1.17-h80987f9_1.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libev-4.33-h1a28f6b_1.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libexpat-2.6.2-hebf3989_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libffi-3.4.4-hca03da5_1.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libiconv-1.16-h80987f9_3.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libsodium-1.0.18-h27ca646_1.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-arm64/libwebp-base-1.3.2-h80987f9_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libzlib-1.2.13-hfb2fe0b_6.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/llvm-openmp-14.0.6-hc6e5704_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/ncurses-6.4-h313beb8_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/pixman-0.40.0-h1a28f6b_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/poppler-data-0.4.11-hca03da5_1.conda
https://repo.anaconda.com/pkgs/main/noarch/pybind11-abi-5-hd3eb1b0_0.conda
https://conda.anaconda.org/astropy/osx-arm64/python_abi-3.12-5_cp312.conda
https://repo.anaconda.com/pkgs/main/noarch/tzdata-2024a-h04d1e81_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/uriparser-0.9.7-h80987f9_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/utf8proc-2.6.1-h80987f9_1.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/xz-5.4.6-h80987f9_1.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/yaml-0.2.5-h1a28f6b_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/aom-3.6.0-h313beb8_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/aws-c-compression-0.2.16-ha56e2a8_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/aws-c-sdkutils-0.1.7-ha56e2a8_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/aws-checksums-0.1.14-ha56e2a8_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/charls-2.2.0-hc377ac9_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/expat-2.6.2-h313beb8_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/geos-3.9.1-hc377ac9_1.conda
https://conda.anaconda.org/conda-forge/osx-arm64/gflags-2.2.2-hc88da5d_1004.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-arm64/icu-73.1-h313beb8_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/lerc-3.0-hc377ac9_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libabseil-20240116.2-cxx17_h313beb8_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libaec-1.0.4-hc377ac9_1.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libbrotlidec-1.0.9-h80987f9_8.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libbrotlienc-1.0.9-h80987f9_8.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libedit-3.1.20230828-h80987f9_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libgfortran5-11.3.0-h009349e_28.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libsqlite-3.46.0-hfb93653_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libzopfli-1.0.3-hc377ac9_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/lz4-c-1.9.4-h313beb8_1.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/nspr-4.35-h313beb8_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/openssl-3.5.1-h81ee809_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/qhull-2020.2-h48ca7d4_2.conda
https://conda.anaconda.org/conda-forge/osx-arm64/re2-2022.04.01-h6b3803e_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-arm64/readline-8.2-h1a28f6b_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/snappy-1.2.1-h313beb8_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/zeromq-4.3.5-h313beb8_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/zfp-1.0.0-h313beb8_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/zlib-1.2.13-hfb2fe0b_6.conda
https://conda.anaconda.org/conda-forge/osx-arm64/aws-c-cal-0.5.20-h7a1267a_3.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-arm64/brotli-bin-1.0.9-h80987f9_8.conda
https://conda.anaconda.org/conda-forge/osx-arm64/glog-0.5.0-h5c6a83d_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-arm64/hdf4-4.2.13-h5e329fb_3.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/krb5-1.20.1-hf3e1bf2_1.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libavif-0.11.1-h80987f9_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libevent-2.1.10-h7673551_4.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-arm64/libgfortran-5.0.0-11_3_0_hca03da5_28.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libkml-1.3.0-hc4d7c42_7.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libnghttp2-1.57.0-h62f6fdd_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libpng-1.6.39-h80987f9_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libprotobuf-4.25.3-h514c7bf_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libssh2-1.11.0-h3e2b118_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libxml2-2.13.1-h0b34f26_2.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/pcre2-10.42-hb066dcc_1.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/sqlite-3.45.3-h80987f9_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/tk-8.6.14-h6ba3021_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/xerces-c-3.2.4-h313beb8_1.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/zstd-1.5.5-hd90d995_2.conda
https://conda.anaconda.org/conda-forge/osx-arm64/aws-c-io-0.13.12-h2ec9475_1.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/blosc-1.21.3-h313beb8_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/brotli-1.0.9-h80987f9_8.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/freetype-2.12.1-h1192e45_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/gettext-0.21.0-hbdbcc25_2.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libboost-1.82.0-h0bc93f9_2.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libcurl-8.9.1-h3e2b118_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libgrpc-1.62.2-h62f6fdd_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libopenblas-0.3.21-h269037a_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libpq-12.20-h02f6b3c_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libthrift-0.15.0-h5c94857_1.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-arm64/libtiff-4.5.1-h313beb8_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libzip-1.8.0-h62fee54_1.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/minizip-4.0.3-ha89c15f_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/nss-3.89.1-h313beb8_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/orc-2.0.1-h937ddfc_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/python-3.12.2-hdf0ec26_0_cpython.conda
https://repo.anaconda.com/pkgs/main/noarch/affine-2.3.0-pyhd3eb1b0_0.conda
https://conda.anaconda.org/conda-forge/noarch/appnope-0.1.4-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/asciitree-0.3.3-py_2.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/asdf-standard-1.1.1-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/astropy-iers-data-0.2024.11.4.0.33.34-pyhd8ed1ab_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/attrs-24.2.0-py312hca03da5_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/aws-c-event-stream-0.2.17-h79945f9_1.conda
https://conda.anaconda.org/conda-forge/osx-arm64/aws-c-http-0.7.0-h1f22901_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/boost-cpp-1.82.0-h48ca7d4_2.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/brotli-python-1.0.9-py312h313beb8_8.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/brunsli-0.1-hc377ac9_1.conda
https://conda.anaconda.org/conda-forge/noarch/certifi-2025.6.15-pyhd8ed1ab_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/cfitsio-3.470-h7f6438f_7.conda
https://repo.anaconda.com/pkgs/main/noarch/charset-normalizer-3.3.2-pyhd3eb1b0_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/click-8.1.7-py312hca03da5_0.conda
https://conda.anaconda.org/conda-forge/noarch/cloudpickle-3.1.0-pyhd8ed1ab_1.conda
https://repo.anaconda.com/pkgs/main/noarch/cycler-0.11.0-pyhd3eb1b0_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/debugpy-1.6.7-py312h313beb8_0.conda
https://conda.anaconda.org/conda-forge/noarch/decorator-5.1.1-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/exceptiongroup-1.2.2-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/executing-2.1.0-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/fasteners-0.17.3-pyhd8ed1ab_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-arm64/fontconfig-2.14.1-h6402c1e_3.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/freexl-2.0.0-ha3de405_0.conda
https://conda.anaconda.org/conda-forge/noarch/fsspec-2024.10.0-pyhff2d567_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/future-0.18.3-py312hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/hdf5-1.12.1-h05c076b_3.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/idna-3.7-py312hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/jmespath-1.0.1-py312hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/joblib-1.4.2-py312hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/kiwisolver-1.4.4-py312h313beb8_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/lcms2-2.12-hba8e193_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libglib-2.78.4-h0a96307_0.conda
https://conda.anaconda.org/conda-forge/noarch/locket-1.0.0-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/lz4-4.3.3-py312h11d1bbd_1.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/markupsafe-2.1.3-py312h80987f9_0.conda
https://conda.anaconda.org/conda-forge/noarch/memoization-0.4.0-pyhd8ed1ab_1.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/more-itertools-10.1.0-py312hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/msgpack-python-1.0.3-py312h48ca7d4_0.conda
https://conda.anaconda.org/conda-forge/noarch/nest-asyncio-1.6.0-pyhd8ed1ab_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/networkx-3.3-py312hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/numpy-base-1.26.4-py312he047099_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/openjpeg-2.5.2-h54b8e55_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/packaging-24.1-py312hca03da5_0.conda
https://conda.anaconda.org/conda-forge/noarch/parso-0.8.4-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/pickleshare-0.7.5-py_1003.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/platformdirs-4.2.2-pyhd8ed1ab_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/proj-9.3.1-h805f6d4_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/psutil-5.9.0-py312h80987f9_0.conda
https://conda.anaconda.org/conda-forge/noarch/ptyprocess-0.7.0-pyhd3deb0d_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pure_eval-0.2.3-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/pygments-2.18.0-pyhd8ed1ab_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/pyparsing-3.1.2-py312hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/pysocks-1.7.1-py312hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/noarch/python-tzdata-2023.3-pyhd3eb1b0_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/pytz-2024.1-py312hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/pyyaml-6.0.1-py312h80987f9_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/pyzmq-25.1.2-py312h313beb8_0.conda
https://repo.anaconda.com/pkgs/main/noarch/semantic_version-2.8.5-pyhd3eb1b0_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/setuptools-72.1.0-py312hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/noarch/six-1.16.0-pyhd3eb1b0_1.conda
https://conda.anaconda.org/conda-forge/noarch/sortedcontainers-2.4.0-pyhd8ed1ab_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-arm64/soupsieve-2.5-py312hca03da5_0.conda
https://conda.anaconda.org/conda-forge/noarch/tblib-3.0.0-pyhd8ed1ab_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/threadpoolctl-3.5.0-py312h989b03a_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/tiledb-2.3.3-hb4a6b97_3.conda
https://conda.anaconda.org/conda-forge/noarch/toolz-1.0.0-pyhd8ed1ab_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/tornado-6.4.1-py312h80987f9_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/tqdm-4.66.5-py312h989b03a_0.conda
https://conda.anaconda.org/conda-forge/noarch/traitlets-5.14.3-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/typing_extensions-4.12.2-pyha770c72_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/unicodedata2-15.1.0-py312h80987f9_0.conda
https://conda.anaconda.org/conda-forge/noarch/wcwidth-0.2.13-pyhd8ed1ab_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/webencodings-0.5.1-py312hca03da5_2.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/wheel-0.43.0-py312hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/xyzservices-2022.9.0-py312hca03da5_1.conda
https://conda.anaconda.org/conda-forge/noarch/zict-3.0.0-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/zipp-3.20.1-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/asdf-transform-schemas-0.5.0-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/asttokens-2.4.1-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/aws-c-auth-0.6.21-h3ff8548_3.conda
https://conda.anaconda.org/conda-forge/osx-arm64/aws-c-mqtt-0.7.13-h7873e71_12.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/beautifulsoup4-4.12.3-py312hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/noarch/click-plugins-1.1.1-pyhd3eb1b0_0.conda
https://repo.anaconda.com/pkgs/main/noarch/cligj-0.7.2-pyhd3eb1b0_0.conda
https://conda.anaconda.org/conda-forge/noarch/comm-0.2.2-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/cytoolz-1.0.0-py312h024a12e_1.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/fonttools-4.51.0-py312h80987f9_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/geotiff-1.7.0-h41f0982_3.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/glib-tools-2.78.4-h313beb8_0.conda
https://repo.anaconda.com/pkgs/main/noarch/html5lib-1.1-pyhd3eb1b0_0.conda
https://conda.anaconda.org/conda-forge/noarch/importlib-metadata-8.4.0-pyha770c72_0.conda
https://repo.anaconda.com/pkgs/main/noarch/jaraco.classes-3.2.1-pyhd3eb1b0_0.conda
https://conda.anaconda.org/conda-forge/noarch/jedi-0.19.1-pyhd8ed1ab_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/jinja2-3.1.4-py312hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/jupyter_core-5.7.2-py312hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/kealib-1.5.0-hba2eb73_1.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/lazy_loader-0.4-py312hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libnetcdf-4.8.1-h0fce390_4.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libspatialite-5.1.0-h3e2df84_1.conda
https://conda.anaconda.org/conda-forge/noarch/matplotlib-inline-0.1.7-pyhd8ed1ab_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/numpy-1.26.4-py312h7f4fdc5_0.conda
https://conda.anaconda.org/conda-forge/noarch/partd-1.4.2-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/pexpect-4.9.0-pyhd8ed1ab_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/pillow-10.4.0-py312h80987f9_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/pip-24.2-py312hca03da5_0.conda
https://conda.anaconda.org/conda-forge/noarch/prompt-toolkit-3.0.47-pyha770c72_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/python-dateutil-2.9.0post0-py312hca03da5_2.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/urllib3-2.2.2-py312hca03da5_0.conda
https://conda.anaconda.org/astropy/noarch/asdf-3.5.0-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/aws-c-s3-0.2.1-hb5f3373_4.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/bottleneck-1.3.7-py312ha86b861_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/contourpy-1.2.0-py312h48ca7d4_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/glib-2.78.4-h313beb8_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/imagecodecs-2023.1.23-py312h75b721f_1.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/imageio-2.33.1-py312hca03da5_0.conda
https://conda.anaconda.org/conda-forge/noarch/importlib_metadata-8.4.0-hd8ed1ab_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/keyring-24.3.1-py312hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/numcodecs-0.12.1-py312h1a4646a_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/numexpr-2.8.7-py312h0f3ea24_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/patsy-0.5.6-py312hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/pyerfa-2.0.1.4-py312ha86b861_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/requests-2.32.3-py312hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/scipy-1.13.1-py312ha409365_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/shapely-2.0.5-py312ha8c8ce4_0.conda
https://repo.anaconda.com/pkgs/main/noarch/snuggs-1.4.7-pyhd3eb1b0_0.conda
https://conda.anaconda.org/conda-forge/noarch/stack_data-0.6.2-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/uncertainties-3.2.2-pyhd8ed1ab_1.conda
https://conda.anaconda.org/conda-forge/noarch/asdf-coordinates-schemas-0.3.0-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/astropy-6.1.5-py312he0011b7_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/autograd-1.5-py312hca03da5_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/aws-crt-cpp-0.18.16-he889ef6_8.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/cairo-1.16.0-h302bd0f_5.conda
https://conda.anaconda.org/conda-forge/noarch/dask-core-2024.10.0-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/fbpca-1.0-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/ipython-8.27.0-pyh707e725_0.conda
https://conda.anaconda.org/conda-forge/noarch/jupyter_client-8.6.2-pyhd8ed1ab_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/matplotlib-base-3.9.2-py312h2df2da3_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/pandas-2.2.2-py312hd77ebd4_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/scikit-learn-1.5.1-py312hd77ebd4_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/tifffile-2023.4.12-py312hca03da5_0.conda
https://conda.anaconda.org/conda-forge/noarch/zarr-2.18.3-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/asdf-astropy-0.6.1-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/asdf-wcs-schemas-0.4.0-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/astropy-base-6.1.5-h67b5ccf_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/astropy-healpix-1.0.3-py312h755e627_2.conda
https://conda.anaconda.org/conda-forge/osx-arm64/astroscrappy-1.2.0-py312h024a12e_1.conda
https://conda.anaconda.org/conda-forge/osx-arm64/aws-sdk-cpp-1.10.55-hc7b7603_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/bokeh-3.4.1-py312h989b03a_0.conda
https://conda.anaconda.org/conda-forge/noarch/distributed-2024.10.0-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/ipykernel-6.29.5-pyh57ce528_0.conda
https://conda.anaconda.org/conda-forge/noarch/oktopus-0.1.2-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-arm64/poppler-24.09.0-hc1b0c3b_0.conda
https://conda.anaconda.org/conda-forge/noarch/pyvo-1.5.2-pyhd8ed1ab_0.conda
https://conda.anaconda.org/astropy/osx-arm64/regions-0.10-py312h755e627_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/scikit-image-0.24.0-py312hd77ebd4_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/arrow-cpp-16.1.0-hbc20fb2_0.conda
https://conda.anaconda.org/conda-forge/noarch/astroquery-0.4.7-pyhd8ed1ab_0.conda
https://conda.anaconda.org/astropy/noarch/gwcs-0.21.0-pyhd8ed1ab_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libgdal-3.6.2-h51eea9d_5.conda
https://conda.anaconda.org/conda-forge/noarch/lightkurve-2.5.0-pyhd8ed1ab_1.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/pyarrow-16.1.0-py312hd77ebd4_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/rasterio-1.3.10-py312hee3c5bf_0.conda
https://conda.anaconda.org/conda-forge/noarch/dask-expr-1.1.16-pyhd8ed1ab_0.conda
https://conda.anaconda.org/astropy/osx-arm64/photutils-2.0.0-py312h147345f_0.conda
https://conda.anaconda.org/conda-forge/noarch/dask-2024.10.0-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/reproject-0.14.0-py312hbebd99a_0.conda
https://conda.anaconda.org/conda-forge/noarch/ccdproc-2.5.0-pyhd8ed1ab_0.conda
